#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKG_NAME = $(shell dpkg-parsechangelog | awk /^Source:/'{ print $$2}')
VERSION_NATIVE = $(shell dpkg-parsechangelog | awk /^Version:/'{ split($$2,v,"-"); print v[1]}')
export DH_ALWAYS_EXCLUDE=shakespeare.json:indexme.json

%:
	dh $@

get-orig-source:
	tar caf $(CURDIR)/../$(PKG_NAME)_$(VERSION_NATIVE).orig.tar.gz --exclude .git --exclude scripts/shakespeare.json -C $(CURDIR)/.. $$(basename $(CURDIR))

override_dh_builddeb:
	dh_builddeb --destdir=.
